body{
    display: flex;
    background-color: white;
    justify-content: center;
    align-content:center;
    margin:10px;
}

.grid-contain{      
    display:grid;
    grid-template-columns:200px 200px 200px;
    grid-template-rows:100px 100px 100px;
    background-color:white;
    gap:10px;
    height:400px;
    width:600px;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
} 

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    
}                           

.itema{
    grid-area:a;
    background-color: rgb(22, 109, 143);
}
.itemb{
    grid-area:b;
    background-color: orange;
}
.itemc{
    grid-area:c;
    background-color:cornflowerblue;
}
.itemd{
    grid-area:d;
    background-color: yellow;
}
.iteme{
    grid-area:e;
    background-color: plum;
}
.itemf{
    grid-area:f;
    background-color:springgreen;
}

.itemg{
    grid-area:g;
    background-color:rgba(194, 157, 109,1) ;
}
.itemh{
    grid-area:h;
    background-color:aqua ;
}
.itemi{
    grid-area:i;
    background-color:rgb(151, 39, 46);
}

@media(max-width:600px)
{
    body{
        background-color:rgb(32, 29, 29);
    }
}
